<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.emf.ecp"
            class="movies.ui.views.MoviesView"
            icon="icons/Movie.png"
            id="movies.ui.MoviesView"
            name="Movies"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.emf.ecp"
            class="movies.ui.views.PerformersView"
            icon="icons/Performers.png"
            id="movies.ui.PerformersView"
            name="Performers"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.emf.ecp"
            class="movies.ui.views.SeriesView"
            icon="icons/Series.png"
            id="movies.ui.SeriesView"
            name="Series"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="movies.ui.view.StudioView"
            id="movies.ui.StudioView"
            name="Studios"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.emf.ecp"
            class="movies.ui.views.RatedMoviesView"
            id="movies.ui.RatedMoviesView"
            name="Rated Movies"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="movies.ui.handler.MovieViewHandler"
            id="movie.ui.showMovieViewCommand"
            name="Show Movies">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="movies.ui.handler.PerformerViewHandler"
            id="movie.ui.showPerformersViewCommand"
            name="Show Performers">
      </command>
      <command
            id="movies.ui.WatchMovie"
            name="Watch Movie">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="movies.ui.handler.QueryWizardHandler"
            id="movies.ui.showQueryWizardDialog"
            name="Show Query Wizard Dialog">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="movies.ui.handler.SeriesViewHandler"
            id="movie.ui.showSeriesViewCommand"
            name="Show Series">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="movies.ui.handler.AssociateMovieToSeasonDialogHandler"
            id="movies.ui.AssociateMovieToSeason"
            name="Associate Movie To Season">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="movies.ui.handler.StudioViewHandler"
            id="movies.ui.showStudioViewCommand"
            name="Show Studios">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="movies.ui.handler.RatedMovieViewHandler"
            id="movie.ui.showRatedMoviesViewCommand"
            name="RatedMovies">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?after=additions">
         <separator
               name="movies.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="movie.ui.showMovieViewCommand"
               icon="icons/Movie.png"
               label="Show Movies"
               style="push">
            <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                       <or>
                          <instanceof
                                value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                          </instanceof>
                          <instanceof
                                value="org.eclipse.emf.emfstore.common.model.Project">
                          </instanceof>
                       </or>
                 </iterate>
              </and>
           </visibleWhen>
         </command>
         <command
               commandId="movie.ui.showPerformersViewCommand"
               icon="icons/Performers.png"
               label="Show Performers"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.emf.emfstore.common.model.Project">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="movies.ui.showQueryWizardDialog"
               label="Show Query Wizard Dialog"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.emf.emfstore.common.model.Project">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="movie.ui.showSeriesViewCommand"
               icon="icons/Series.png"
               label="Show Series"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.emf.emfstore.common.model.Project">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="movies.ui.AssociateMovieToSeason"
               icon="icons/expand_all.gif"
               label="Associate Movie To Season"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="movies.Movie">
                     </instanceof>
                     <not>
                        <instanceof
                              value="movies.Episode">
                        </instanceof>
                     </not>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="movies.ui.showStudioViewCommand"
               label="Show Studios"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.emf.emfstore.common.model.Project">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="movie.ui.showRatedMoviesViewCommand"
               label="RatedMovies"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.emf.emfstore.common.model.Project">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.emf.ecp.editor.MEEditorPage?after=additions">
         <command
               commandId="movies.ui.WatchMovie"
               icon="icons/run.png"
               label="Watch Movie"
               style="push"
               tooltip="Watch Movie">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeModelelement">
                  <reference
                        definitionId="movies.ui.isMovie">
                  </reference>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.editor.attributecontrols">
      <widget
            class="movies.ui.views.controls.RatingControl"
            name="movies.ui.ratingWidget"
            showLabel="false"
            type="java.lang.String">
      </widget>
      <widget
            class="movies.ui.views.controls.URLControl"
            name="movies.ui.urlWidget"
            showLabel="true"
            type="java.lang.String">
      </widget>
      <widget
            class="movies.ui.views.controls.LoanedUntilControl"
            name="movies.ui.loanedUntilWidget"
            type="java.lang.Boolean">
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="movies.ui.handler.WatchMovieHandler"
            commandId="movies.ui.WatchMovie">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="movies.ui.isMovie">
         <instanceof
               value="movies.Movie">
         </instanceof>
      </definition>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.workspaceLocationProvider">
      <LocationProvider
            providerClass="movies.ui.LocationProvider">
      </LocationProvider>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.editor.melinkcontrols">
      <widget
            class="movies.ui.listener.LinkListener"
            name="movies.ui.linkListener"
            type="org.eclipse.emf.ecore.impl.EObjectImpl">
      </widget>
   </extension>

</plugin>
